{erl_opts, [debug_info]}.
{lib_dirs, ["deps"]}.
{clean_files, ["ebin", "doc"]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{deps,
  [
    { pooler,
      "1.3.3",
      {git, "git@github.com:seth/pooler.git", {tag, "1.3.3"} }
    },
    { poolboy,
      "1.4.2",
      {git, "git@github.com:devinus/poolboy.git", {tag, "1.4.2"} }
    },
    { leo_pod,
      "0.6.2",
      {git, "git@github.com:leo-project/leo_pod.git", {tag, "0.6.2"} }
    },
    { gproc,
      ".*",
      {git, "git@github.com:uwiger/gproc.git", "uw-pool-fixes" }
    },
    { dispcount,
      "1.0.2",
      {git, "git@github.com:ferd/dispcount.git", {tag, "1.0.2"} }
    },
    { sidejob,
      "2.0.0",
      {git, "git@github.com:basho/sidejob.git", {tag, "2.0.0"} }
    },
    { gen_server_pool,
      "2.2.0",
      {git, "git://github.com/openx/gen_server_pool.git", {tag, "2.2.0"} }
    },

    { mochiweb,
      "2.12.1",
      {git, "git@github.com:mochi/mochiweb.git", {tag, "v2.12.1"} }
    }

%    { pq,
%      "3.2.3",
%      {git, "git@github.com:fogfish/pq.git", master }
%    },
%    {
%      episcina,
%      "1.0.0",
%      {git, "git@github.com:erlware/episcina", {tag, "v1.0.0"} }
%    },
%    {
%      worker_pool,
%      "1.0",
%      {git, "git@github.com:tigertext/worker_pool", master }
%    },

  ]
}.
